<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h2>We would love to hear from you</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <p style="width: 672px;">Questions or comments, thoughts or poems. Let us know if you'd like a batch of nametags for your own event, or if you have any other questions or comments.</p>
      </div>
      <div class="normform">
        <div class="subsection">
          <% @message ||= ContactMessage.new %>
          <%= form_for @message, :url => send_contact_message_path do |f| %>
            <%= error_messages_for(f.object) %>

            <div class="short">
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, :required => true, :autofocus=>true  %>
            </div>
            <div class="short">
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name, :required => true  %>
            </div>
            <div class="short">
            <%= f.label :email %>
            <%= f.email_field :email, :required => true %>
            </div>
            <div class="short">
            <%= f.label :message %>
            <%= f.text_area :message, :rows => 6, :required => true  %>
            </div>
            <div class="formbuttoncontainer">
            <%= f.submit "SEND", :class => "btn btn-info btn-large" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
<div class="whitespace"></div>

    <div class="poem">In German, it's called Nametag Tag.</div>
    
  </div>
</div>