<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h1>Contact</h1>
    <h2>We would love to hear from you</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <h1>Send us an email</h1>
        <p>Let us know if you'd like a batch of nametags for your own event, or if you have any other questions or comments.</p>
      </div>
      <div class="normform">
        <div class="subsection">
          <% @message ||= ContactMessage.new %>
          <%= form_for @message, :url => send_contact_message_path do |f| %>
            <%= error_messages_for(f.object) %>

            <div class="short">
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, :required => true  %>
            </div>
            <div class="short">
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name, :required => true  %>
            </div>
            <span class="clear"></span>
            <%= f.label :email %>
            <%= f.email_field :email, :required => true %>
            <%= f.label :message %>
            <%= f.text_area :message, :rows => 6, :required => true  %>
            <%= f.submit "SEND", :class => "btn xl tl send" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>