<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h2>Host your own Nametag Day event!</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <p>Want to ride around on your unicycle giving out nametags? Want to throw a Nametag Day party? Then we want to give you nametags.</p>
      </div>
      <div class="normform">
        <div class="subsection">
          <% @event_request ||= EventRequest.new %>
          <%= form_for @event_request, :url => send_event_request_path do |f| %>
            <%= error_messages_for(f.object) %>

	        <p><b>Tell us more about your event:</b></p>

            <div class="short">
                <%= f.label :event_name, "Event Name" %>
                <%= f.text_field :event_name, :required => true, :autofocus=>true  %>
            </div>

            <div class="short">
            <%= f.label :description %>
            <%= f.text_area :description, :rows => 6, :required => true  %>
            </div>
            
            <div class="short">
                <%= f.label :location %>
                <%= f.text_field :location, :required => true  %>
            </div>

            <div class="short">
                <%= f.label :amount, "How many nametags?" %>
                <%= f.select :amount, EventRequest::AMOUNT  %>
            </div>

            <div class="short">
                <%= f.label :organization %>
                <%= f.text_field :organization, :required => true  %>
            </div>

	        <p><b><br>And now, just a little bit about yourself:</b></p>

            <div class="short">
                <%= f.label :email %>
                <%= f.email_field :email, :required => true  %>
            </div>

            <div class="short">
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, :required => true  %>
            </div>
            <div class="short">
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name, :required => true  %>
            </div>

            <div class="short">
                <%= f.label :phone %>
                <%= f.phone_field :phone  %>
            </div>

	        <p><b><br />Anything else?</b></p>

            <div class="short">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 6  %>
            </div>
            
            <div class="formbuttoncontainer">
            <%= f.submit "Get us dem nametags!", :class => "btn btn-info btn-large", :style => "padding: 9px 50px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
<div class="whitespace"></div>

    <div class="poem">"One of the secrets of life is that all that is really worth the doing is what we do for others."<br />- Lewis Caroll</div>
    
<div class="whitespace"></div>    
    
  </div>
</div>

