<div class="row">
<div class="span8">
<h1>FAQ</h1>

<h3>Who are you?</h3>
<p>We're a group of friends who decided this would be a fun event to organize. We're jump-starting it, but Nametag Day belongs to everyone! If you put on a nametag, you're part of the team.

<p>See the <%= link_to "Meet Us", static_page_path(:name => "meetus") %> page for our faces and nametags.</p>


<h3>Who is helping make NTD happen?</h3>
<p>You! Every person who volunteers, donates money, wears a nametag, or spreads the word contributes to making NTD a reality.</p>

<p>We are especially grateful to <a href="http://awesomefoundation.org">The Awesome Foundation</a>, <a href="http://nametag.com">nametag.com</a> and <a href="http://www.nycsocialsportsclub.com">NYC Social Sports Club</a> for their generous contributions.</p>

<h3>What can I do to support NTD?</h3>
<p>The big ways to help are to <%= link_to 'volunteer', new_registration_path %>, <a href="https://www.crowdtilt.com/campaigns/nametag-day/">donate money</a> or <%= link_to "supplies", static_page_path(:name => "contact") %>, and spread the word.</p>

<p>We’re on <a href="http://www.facebook.com/NametagDay">Facebook</a> and <a href="http://twitter.com/NametagDay">Twitter</a> but the best place to send people is <a href="/">nametagday.com</a>.</p>

<p>If you’re a member of the press, want to organize an NTD performance or event, or have organizing experience and want to assist with logistics, please <%= link_to "get in touch", static_page_path(:name => "contact") %>.</p>

<h3>Hey, wasn’t there a Seinfeld episode about this?</h3>
You're right, there was! We think Mayor Dinkins was ahead of his time.

<h3>Who profits from this?</h3>
<p>All of us! Nametag Day is about making New York City a friendlier and more open place for a day. We want people to make new friends, learn new things, and share a few extra smiles.</p>

<p><b>Nametag Day is entirely non-commercial, and no people or organizations will profit financially from the event.</b></p>

<h3>Is anyone making money off this?</h3>
<p>Nope! NTD is produced and staffed entirely by volunteers. All funds raised go to nametags, markers and other logistics costs.</p>

<h3>Can I use NTD to promote my personal event or product?</h3>
<p>Nametag Day is entirely non-commercial. We do accept sponsors, and will recognize them generously on our website and other platforms.</p>

<h3>What if I want to keep celebrating NTD?</h3>
<p>Nametag Day doesn’t stop at 5pm. We hope that you will continue to acknowledge the people who make up your world. Smile and reply, “It’s okay” next time someone bumps you on the subway. Say hello to that shy coworker.</p> 

<% if false %>
All Nametag Day participants are also invited to show up to XX bar wearing their nametag for $2 off beer and well drinks. Continue making friends throughout the evening!
<% end %>

<h3>What happens to leftover markers and nametags?</h3>
<p>Any unused nametags and markers will be donated to local community art projects.</p>

<h3>Can my program be the recipient of those leftover supplies?</h3>
Please <%= link_to "contact us", static_page_path(:name => "contact") %> to set up a phone interview.

<div class="whitespace"></div>

</div>
</div>

