<style>
h4 {
margin-top:22px;
}


</style>

<div class="row">
<div class="span8">
<h1>FAQ</h1>

<h4 style="margin-top:10px;">Who are you?</h4>
<p>We're a group of friends who decided this would be a fun event to organize. We're jump-starting it, but Nametag Day belongs to everyone! If you put on a nametag, you're part of the team.

<p>See the <%= link_to "Meet Us", static_page_path(:name => "meetus") %> page for our names and faces.</p>

<h4>What are you selling?</h4>
<p>Nothing. Not even t-shirts.</p>
<p>Nametag Day is entirely non-commercial, staffed by volunteers, and no people or organizations will profit financially from the event. All funds raised go to nametags, markers and other logistics costs.</p>
<p>And we all profit from the day! We want people to make new friends, learn new things, and share a few extra smiles.</p>

<h4>Can I use Nametag Day to promote my personal event or product?</h4>
<p>Because we are non-commercial, we ask everyone volunteering for the event to avoid incorporating advertising in their volunteer shifts in any way. (Even wearing the same shirt or hat can imply an ulterior motive and be enough to turn off passersby.)</p>

<p>We do accept donations and other forms of sponsorship, and will recognize them graciously on our website and other platforms.</p>

<h4>Who is helping make Nametag Day happen?</h4>
<p>You! Every person who volunteers, donates money, wears a nametag, or spreads the word contributes to making Nametag Day a reality.</p>

<p>We are especially grateful to <a href="http://awesomefoundation.org">The Awesome Foundation</a>, <a href="http://nametag.com">nametag.com</a> and <a href="http://www.nycsocialsportsclub.com">NYC Social Sports Club</a> for their generous contributions.</p>

<h4>What can I do to support Nametag Day?</h4>
<p>You can <%= link_to 'volunteer', new_registration_path %>, <a href="https://www.crowdtilt.com/campaigns/nametag-day/">donate money</a> or <%= link_to "supplies", static_page_path(:name => "contact") %>, and spread the word.</p>

<p>We’re on <a href="http://www.facebook.com/NametagDay">Facebook</a> and <a href="http://twitter.com/NametagDay">Twitter</a> but the best place to send people is <a href="/">nametagday.com</a>.</p>

<p>If you’re a member of the press, want to organize an Nametag Day performance or event, or have organizing experience and want to assist with logistics, please <%= link_to "get in touch", static_page_path(:name => "contact") %>.</p>

<h4>What if I want to keep celebrating Nametag Day?</h4>
<p>Nametag Day doesn’t stop at 5pm. We hope that you will continue to acknowledge the people who make up your world. Smile and reply, “It’s okay” next time someone bumps you on the subway. Say hello to that shy coworker.</p>

<% if false %>
All Nametag Day participants are also invited to show up to XX bar wearing their nametag for $2 off beer and well drinks. Continue making friends throughout the evening!
<% end %>

<h4>Hey, wasn’t there a Seinfeld episode about this?</h4>
You're right, there was! We think Mayor Dinkins was ahead of his time.

<h4>What happens to leftover markers and nametags?</h4>
<p>Any unused nametags and markers will be donated to local community art projects or saved for next year.</p>
<p>If you want your program to be a recipient of those leftover supplies, <%= link_to "contact us", static_page_path(:name => "contact") %> to set up a phone interview.

<h4>WHERE CAN I GET A NAMETAG?</h4>



<p>
  Our major distribution sites will be
</p>

<ul>
<li><b>Union Square</b> (North side of East 14th St btwn Union Square East and Union Square West, Southeast side near the street performers)</li>
<li><b>Central Park</b> (East side of 5th Av btwn East 58th and 59th St, in front of the Apple store)</li>
<li><b>Williamsburg</b> (Bedford Avenue between North 9th St and North 10th St)</li>
<li><b>East Village</b> (St. Marks Place and Avenue A, West corner of Tompkins Square Park)</li>
<li><b>Park Slope</b> (Prospect Park West & Flatbush Av, Northwest corner of Prospect Park)</li>
</ul>

<p>Please stop by anytime between 11am and 5pm on Saturday June 1st! Look for friendly volunteers holding a Nametag Day sign.
</p>

<p>If you're local, the following places will also have a limited number of nametags. If you'd like to add your business, please email <%= mail_to "hello@nametagday.com" %>.
</p>

<ul>
<li>
  <b>The West Cafe</b>, 379 Union Ave, Williamsburg
</li>
<li>
  <b>WORD bookstore</b>, 126 Franklin Street, Brooklyn
</li>
<li>
  <b>Snapple Theater</b>, 1627 Broadway, Manhattan (near Times Square)
</li>
<li><b>Pudge Knuckles Cafe</b>, 184 Kent Ave, Williamsburg
</li>
</ul>

<h4>Cost Breakdown</h4>

 <b>Total Raised: $3636.35</b>

 <br />

  <%= image_tag "graph.png", :class => 'breakdown', :width => 300 %>
  <%= image_tag "legend.png", :class => 'legend', :width => 300 %>

</div>
</div>