<div id="top">
  <div class="left-column">

   <div class="row">
      <div class="span12">
        <h1 class="main">
        	<span class="citytop">Saturday, June 1<br />New York City</span>
        	<b>NAMETAG DAY</b>
        </h1>
      </div>
    </div>
    <div class="whitespace"></div>


    <div class="row">
      <div class="span6">
        <p class="lead">Imagine everyone in New York City wearing a nametag. On June 1st we'll be giving people nametags throughout the city, and we need your help!</p>
    <p class="lead" style="margin-bottom: 16px;"><b>Register by May 26</b> to hand out nametags and be part of the fun.</p>
         <div style="text-align: center; "><%= link_to 'Register now!', new_registration_path, { :class => "btn btn-info btn-large", :style => "padding: 0 70px; line-height: 44px; font-size: 23px;"  } %></div>

          <div style="padding: 4px; text-align: center;">
            <small>Already registered? <%= link_to "Modify my registration", get_reservation_link_registration_path %></small>
          </div>

      </div>
      <div class="pull-right">
        <iframe class="img-polaroid" width="450" height="253" src="http://www.youtube.com/embed/RchV2AW0NAM?rel=0;showinfo=0;HD=1;controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="whitespace"></div>



<a href="https://www.crowdtilt.com/campaigns/test-campaign-55218799" class="nolinkylook">
	<div class="alert alert-block alertcustom fundraisebox">
		<!-- <h4>$1,500 raised so far!</h4> -->
		<!-- <p>We've got $1,000 more to go before this event's gonna happen. <br /><b>Click here to join 23 others and pitch in.</b></p> -->
		<h4>$4,500 raised so far from 55 contributors!</h4>
		<p>For $10 you'll be putting a nametag on 60 people. <b>Click here to pitch in.</b> </p>

		<div class="progress progress-warning">
		  <div class="bar" style="width: 8.3%"></div>
		</div>

		<div class="xticker">
			<div class="first">$1k</div>
			<div>$2k</div>
			<div>$3k</div>
			<div>$4k</div>
			<div>$5k</div>
			<div>$6k</div>
			<div>$7k</div>
			<div>$8k</div>
			<div>$9k</div>
			<div>$10k</div>
			<div>$11k</div>
			<div>$12k</div>
			<div>$13k</div>
			<div>$14k</div>
			<div>$15k</div>
		</div>
		<%= r_image_tag('target_under2.5k.png', :size => "784x72", :style => 'margin-left: 21px; margin-bottom:8px;') %>
		<p style="font-size:10px;">Funds raised go to nametags and logistics, not salaries. Any unspent money will be reserved for Nametag Day 2014.</p>
		<div class="clearfix"></div>


	</div>
</a>

<!--	<div class="alert alertcustom">
		<i class="icon-bullhorn" style="margin-right:7px;"></i>We're looking for an event coordinator! <a href="http://www.idealist.org/view/internship/fTJN948XTpw4/">Read the posting</a> and if you're interested, <a href="mailto:hello@nametagday.com">get in touch</a>.
	</div> -->

<div class="whitespace clearfix"></div>

<div id="bottom">
  <div class="row" style="margin-bottom: 15px;">
    <div class="span7">
      <h4>Meet your fellow New Yorkers</h4>
      <p>Ever wanted to connect with the millions of New Yorkers walking past you? Each day brings opportunities to make new friends and share experiences. All too often, we can forget to notice the people around us. Nametag Day aims to break this barrier and strengthen the human element of the New York experience, adding a bit of spontaneity and silliness to people's day.
      </p>

    </div>
    <div class="span5">
      <%= r_image_tag('image-kids.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
  </div>

  <div class="whitespace"></div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span5">
      <%= r_image_tag('image-dina.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
    <div class="span7">
      <h4>How can I get involved?</h4>
      <p>We always need more volunteers! Invite friends to be on a team with you.</p>
      <p>If you have event planning, volunteer coordination, or PR skills and want to work with our core team, <%= link_to "send us a message", static_page_path(:name => "contact") %>.</p>
      <p>If you're on a listserv, send out an email encouraging others to volunteer with you.</p><p>You can also throw a Nametag Day-themed event and <%= link_to "request nametags", static_page_path(:event_request) %> for it on our site. If you tell us about it, we'll do our best to spread the word.
      </p>
    </div>
  </div>
</div>

  <div class="whitespace"></div>


  <div class="row" style="margin-bottom: 25px;">
    <div class="span7">
      <h4>Help document the day!</h4>
      <p>Tweet us your photos and videos from YouTube and Instagram, and we'll feature them on our site.</p>
      <p>And let's make a documentary together. Film a story or three about the day, being as creative as you like. We'll provide a dropbox to send the footage and then we can crowd-edit it into a citywide interactive documentary.</p>

    </div>
    <div class="span5">
      <%= r_image_tag('image-chulo.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
  </div>

  <div class="whitespace"></div>

  <div class="row">
    <div class="span5">
      <%= r_image_tag('image-us.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
    <div class="span7">
      <h4>Who are you?</h4>
      <p>We're a group of friends with organizing experience who decided this would be a great way to spend our time. But we're just facilitators. Anyone who puts on a nametag is part of Team Nametag Day!<br><br>
      </p>
      <h4>What are you selling?</h4>
      <p>Nothing! We are totally non-commercial. Not even t-shirts.</p>
    </div>
  </div>
</div>


<div class="whitespace"></div>




<div id="bottom-button" align="center">
<div style="text-align: center; "><%= link_to 'Register Now!', new_registration_path, { :class => "btn btn-info btn-large", :style => "padding: 9px 50px;"  } %></div>
</div>

<div class="whitespace"></div>

    <div class="poem">"We cannot live only for ourselves. A thousand fibers connect us with our fellow men; and among those fibers, as sympathetic threads, our actions run as causes, and they come back to us as effects."<br />- Herman Melville</div>

<div class="whitespace"></div>

