<div id="top">
  <div class="left-column">

   <div class="row">
      <div class="span12">
        <h1 class="main">
        	<span class="citytop">Saturday, June 7, 2014<br />New York City</span>
        	<b>NAMETAG DAY</b>
        </h1>
      </div>
    </div>
    <div class="whitespace"></div>


    <div class="row">
      <div class="span6">
        <p class="lead" style="margin-top: 12px;">Last year we gave out thousands of nametags, and something incredible happened. New Yorkers met their neighbors and the feeling of camraderie was everywhere.</p>
        <p class="lead" >To see how much fun it was, check out the video!</p>
        <p class="lead">Join us on the <b>first Saturday in June</b> (June 7) in Tompkins Square Park or Williamsburg, and be prepared to have a great time.</p>
        <p class="lead">What are you waiting for? Volunteer with us!</p>

      </div>
      <div class="pull-right">
<!--        <iframe class="img-polaroid" width="450" height="253" src="http://www.youtube.com/embed/RchV2AW0NAM?rel=0;showinfo=0;HD=1;controls=0" frameborder="0" allowfullscreen></iframe> -->
        <iframe class="img-polaroid" width="450" height="253" src="//www.youtube-nocookie.com/embed/videoseries?list=PLB80DHoxi6xbfKwfnd7dG0AoxBe0dCWrO&rel=0&showinfo=1&HD=1&controls=0&frameborder=0&modestbranding=1" allowfullscreen></iframe>
        
        
        
      </div>
    </div>
  </div>
</div>




    <div class="row" style="margin:16px 0;">
      <div class="span12" style="width:900px;">
         <div style="text-align: center;"><%= link_to 'Volunteer now!', static_page_path(:volunteer), { :class => "btn btn-info btn-large", :style => "padding: 4px 92px; line-height: 44px; font-size: 28px; margin: 10px 0;"  } %></div>
	    
      </div>
    </div>


    <div class="row" style="margin:16px 0;">
      <div class="span12" style="width:940px; margin:0;">

<iframe src="http://users.instush.com/accordion-zoom/?w=940&size=100&border=6&shadow=true&crowded=false&sl=true&bg_item=ffffff&bg=ffffff&user_id=333711676&username=nametagday&sid=-1&susername=-1&tag=-1&stype=mine&t=dFzWxrOOHvAdj9wuk-ReoPmJSeLw_BJfPIk0xjUDvIFQDlXrfH3kTL2a0v5hNpcW8KVBsnNyaMs" allowtransparency="true" frameborder="0" scrolling="no"  style="display:block;width:940px;height:224px;border:none;overflow:visible;margin:auto;" ></iframe>

	   </div>
	</div>

<div class="fb-share-button">
	<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnametagday.com" target="_blank">
		<%= r_image_tag('catshare.jpg', :size => "150x160") %>
	</a>
</div>




<!--	<div class="alert alertcustom">
		<i class="icon-bullhorn" style="margin-right:7px;"></i>We're looking for an event coordinator! <a href="http://www.idealist.org/view/internship/fTJN948XTpw4/">Read the posting</a> and if you're interested, <a href="mailto:hello@nametagday.com">get in touch</a>.
	</div> -->


<div id="bottom">
  <div class="row" style="margin-bottom: 15px;">

    <div class="span7">
      </p>
      <h4>How can I get involved?</h4>
      <p>Click the "volunteer now" link above and choose a location and time to volunteer!</p>
      <p>You can also help by spreading the word: share Nametag Day <a href="https://www.facebook.com/sharer/sharer.php?u=http://nametagday.com">on Facebook</a> or <a href="https://twitter.com/home?status=I'm%20volunteering%20with%20@NametagDay%20this%20year!%20Check%20it%20out:%20http://nametagday.com">on Twitter</a>. If you're on a listserv, send out an email encouraging others to volunteer with you.</p>
      <p>Questions? Want to work on our core team? Just <%= link_to "send us a message", static_page_path(:name => "contact") %>.</p>
    </div>
    <div class="span5">
      <%= r_image_tag('image_group.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
  </div>

  <div class="whitespace"></div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span5">
      <%= r_image_tag('image_girls.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
    <div class="span7">
      <h4>Meet your fellow New Yorkers</h4>
      <p>Ever wanted to connect with the millions of New Yorkers walking past you? Each day brings opportunities to make new friends and share experiences. All too often, we can forget to notice the people around us. Nametag Day aims to break this barrier and strengthen the human element of the New York experience, adding a bit of spontaneity and silliness to people's day.</p>
    </div>
  </div>
</div>

  <div class="whitespace"></div>


  <div class="row" style="margin-bottom: 25px;">
    <div class="span7">
      <h4>Help document the day!</h4>
      <p>Tweet us your photos and videos from YouTube and Instagram, and we'll feature them on our site. We're at @nametagday, or you can just include the hashtag #nametagday and we'll find your pics.</p>
    </div>
    <div class="span5">
      <%= r_image_tag('image_doggy.jpg', :size => "370x208", :style => 'vertical-align:middle;', :class => 'img-polaroid') %>
    </div>
  </div>


    <div class="row" style="margin:16px 0;">
      <div class="span12" style="width:900px;">
         <div style="text-align: center;"><%= link_to 'Volunteer now!', static_page_path(:volunteer), { :class => "btn btn-info btn-large", :style => "padding: 4px 92px; line-height: 44px; font-size: 28px; margin: 10px 0;"  } %></div>
	    
      </div>
    </div>


    <div class="poem">"We cannot live only for ourselves. A thousand fibers connect us with our fellow men; and among those fibers, as sympathetic threads, our actions run as causes, and they come back to us as effects."<br />- Herman Melville</div>

<div class="whitespace"></div>

