<div class="row">
<div class="span8">
<h1>Press</h1>
<p>If you're a member of the press interested in talking to us about Nametag Day, please email <a href="mailto:hello@nametagday.com">hello@nametagday.com</a>.</p>
<div class="whitespace" class="span4"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://newyork.cbslocal.com/2013/06/02/thousands-of-nametags-reportedly-handed-out-for-nametag-day/">
<b>CBS Local / 1010 WINS</b> 6/2/13</a></p>
<a href="http://newyork.cbslocal.com/2013/06/02/thousands-of-nametags-reportedly-handed-out-for-nametag-day/"><%= r_image_tag('wins.jpg', :width => 200, :height => 200) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://gothamist.com/2013/06/02/photos_people_dogs_watermelon_celeb.php#photo-1"><b>Gothamist</b> 6/2/13</a></p>
<a href="http://gothamist.com/2013/06/02/photos_people_dogs_watermelon_celeb.php#photo-1"><%= r_image_tag('gothamist.png', :height => 58, :width => 200) %></a>
<div class="whitespace"></div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://www.amny.com/urbanite-1.812039/army-of-friendly-people-hope-to-increase-nyc-amity-on-nametag-day-1.5374388">
<b>AM New York</b> 5/30/13</a></p>
<a href="http://www.amny.com/urbanite-1.812039/army-of-friendly-people-hope-to-increase-nyc-amity-on-nametag-day-1.5374388"><%= r_image_tag('amny_logo.jpg', :width => 200, :height => 185) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://www.timeout.com/newyork/things-to-do/nametag-day">
<b>Time Out New York</b> 6/1/13</a></p>
<a href="http://www.timeout.com/newyork/things-to-do/nametag-day"><%= r_image_tag('time_out.jpg', :width => 200, :height => 136) %></a>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://brooklyn.news12.com/news/residents-prepare-for-name-tag-day-1.5225450"><b>News 12 Brooklyn</b> 5/8/13</a></p>
<a href="http://brooklyn.news12.com/news/residents-prepare-for-name-tag-day-1.5225450"><%= r_image_tag('news12_brooklyn.jpg', :width => 200, :height => 200) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://landing.newsinc.com/wpix/video.html?freewheel=91044&sitesection=wpix_pix11newsvideo&VID=24787865">
<b>WPIX 11</b> 5/2/13</a></p>
<a href="http://landing.newsinc.com/wpix/video.html?freewheel=91044&sitesection=wpix_pix11newsvideo&VID=24787865">
<%= r_image_tag('pix11.png', :width => 200, :height => 58) %></a>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://news.msn.com/pop-culture/nametag-day-coming-soon-to-nyc"><b>MSN News</b> 5/18/13</a></p>
<a href="http://news.msn.com/pop-culture/nametag-day-coming-soon-to-nyc"><%= r_image_tag('msn.png', :height => 60, :width => 200) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://www.newsday.com/news/volunteer-army-of-friendly-people-hope-to-increase-nyc-amity-on-nametag-day-1.5373156">
<b>Newsday</b> 5/30/13</a></p>
<a href="http://www.newsday.com/news/volunteer-army-of-friendly-people-hope-to-increase-nyc-amity-on-nametag-day-1.5373156">
<%= r_image_tag('newsday.jpg', :width => 200, :height => 113) %></a>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://gothamist.com/2013/05/08/what_if_everyone_in_new_york_city_w.php"><b>Gothamist</b> 5/8/13</a></p>
<a href="http://gothamist.com/2013/05/08/what_if_everyone_in_new_york_city_w.php"><%= r_image_tag('gothamist.png', :height => 58, :width => 200) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://newyork.cbslocal.com/2013/04/30/organizers-plan-name-tag-day-to-make-new-york-a-happier-city/?utm_source=dlvr.it&utm_medium=twitter">
<b>CBS Local / 1010 WINS</b> 4/30/13</a></p>
<a href="http://newyork.cbslocal.com/2013/04/30/organizers-plan-name-tag-day-to-make-new-york-a-happier-city/?utm_source=dlvr.it&utm_medium=twitter"><%= r_image_tag('wins.jpg', :width => 200, :height => 200) %></a>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><a href="http://www.amny.com/urbanite-1.812039/nametag-day-project-hopes-new-york-a-little-friendlier-1.5164906">
<b>AM New York</b> 4/29/13</p>
<a href="http://www.amny.com/urbanite-1.812039/nametag-day-project-hopes-new-york-a-little-friendlier-1.5164906"><%= r_image_tag('amny_logo.jpg', :width => 200, :height => 185) %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><a href="http://www.nytimes.com/2013/05/29/booming/im-joyce-now-stop-bothering-me.html">
<b>New York Times</b> 5/29/13</p>
<a href="http://www.nytimes.com/2013/05/29/booming/im-joyce-now-stop-bothering-me.html"><%= r_image_tag('nytimes.png', :width => 200, :height => 160) %></a>
<div class="whitespace"></div>
</div>


</div>



<div class="whitespace"></div>

</div>


