<div class="row">
<div class="span8">
<h1>Press</h1>
<p>If you're a member of the press interested in talking to us about Nametag Day, please email <a href="mailto:hello@nametagday.com">hello@nametagday.com</a>.</p>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">


<div class="span6">
<p><i><a href="http://brooklyn.news12.com/news/residents-prepare-for-name-tag-day-1.5225450">Residents prepare for Name Tag Day</a></i><br /> <b>News 12 Brooklyn</b> 5/8/13</p>
<<<<<<< HEAD
<a href="http://brooklyn.news12.com/news/residents-prepare-for-name-tag-day-1.5225450"><%= r_image_tag('news12_brooklyn.jpg', :width => 200, :height => 200) %></a>
=======
<a href="http://brooklyn.news12.com/news/residents-prepare-for-name-tag-day-1.5225450"><%= image_tag('news12_brooklyn.jpg', :width => 200) %></a>
>>>>>>> f8664d9c2af980e00b178e14df649e3cbcd4c9bd
<div class="whitespace"></div>
</div>

<div class="span6">
<p><i><a href="http://landing.newsinc.com/wpix/video.html?freewheel=91044&sitesection=wpix_pix11newsvideo&VID=24787865">Could Name Tags Make New Yorkers Friendlier?</a></i><br /> <b>WPIX 11</b> 5/2/13</p>
<a href="http://landing.newsinc.com/wpix/video.html?freewheel=91044&sitesection=wpix_pix11newsvideo&VID=24787865"><%= image_tag('pix11.png', :width => 200) %></a>
<div class="whitespace"></div>
</div>
</div>


<div class="row press">
<div class="span6">
<p><i><a href="http://gothamist.com/2013/05/08/what_if_everyone_in_new_york_city_w.php">
What If Everyone In New York City Wore A Nametag?</a></i><br /><b>Gothamist</b> 5/8/13</p>
<a href="http://gothamist.com/2013/05/08/what_if_everyone_in_new_york_city_w.php"><%= image_tag('gothamist.png') %></a>
<div class="whitespace"></div>
</div>

<div class="span6">
<p><i><a href="http://newyork.cbslocal.com/2013/04/30/organizers-plan-name-tag-day-to-make-new-york-a-happier-city/?utm_source=dlvr.it&utm_medium=twitter">Organizers Plan 'Nametag Day' To Make New York A 'Happier City'</a></i><br /><b>CBS Local / 1010 WINS</b> 4/30/13</p>
<a href="http://newyork.cbslocal.com/2013/04/30/organizers-plan-name-tag-day-to-make-new-york-a-happier-city/?utm_source=dlvr.it&utm_medium=twitter"><%= image_tag('wins.jpg', :width => 200) %></a>
<div class="whitespace"></div>
</div>
</div>

<div class="row press">
<div class="span6">
<p><i><a href="http://www.amny.com/urbanite-1.812039/nametag-day-project-hopes-new-york-a-little-friendlier-1.5164906">'Nametag Day' project hopes New York a little friendlier</a></i><br /><b>AM New York</b> 4/29/13</p>
<a href="http://www.amny.com/urbanite-1.812039/nametag-day-project-hopes-new-york-a-little-friendlier-1.5164906"><%= image_tag('amny_logo.jpg') %></a>
<div class="whitespace"></div>
</div>
</div>


<!-- <p>5/8/13 &nbsp; <i><a href="">Residents</a></i> - <b>News</b></p> -->


<div class="whitespace"></div>

</div>


