
  <%= error_messages_for(f.object) %>
  
  <div id="mapkey">
  <%= r_image_tag('circle_empty.png', :size => "14x14") %> Not many people registered
  <%= r_image_tag('circle_partfull.png', :size => "14x14") %> Some people
  <%= r_image_tag('circle_full.png', :size => "14x14") %> A lot of people
  <%= r_image_tag('circle_waitlist.png', :size => "14x14") %> Probably full. You can still sign up, but we may put you at a different location. 
  
  </div>
  
  <div id="map-container" style="height: 350px; width: 600px;" class="img-polaroid">
  <div id="map-canvas" style="height: 350px; width: 600px;"></div>
  </div>

<div id="location_title" style="font-style:italic; color:#999;">No area chosen.</div>
<div id="location_title_hover" style="display:none;"></div>

<div id="form_times" class="disabled">

  <label class="checkbox">
    <input id="member_leader" name="member[leader]" type="checkbox">I'd like to be a <b>coordinator</b>.
  </label>
<p class="undertimetext">This means a four-hour shift and extra leadership. Morning coordinators will meet at distribution centers to collect nametags.</p>

    <h4>Shifts available:</h4>
  
  <!-- TODO: add an on-submit check that a button value is one of the times in the db -->
<div class="btn-group" id="worker-group">
  <button id="slot1" type="button" class="btn empty" value="1" disabled="1">11a - 1p</button>
  <button id="slot2" type="button" class="btn empty" value="2" disabled="1">1p - 3p</button>
  <button id="slot3" type="button" class="btn empty" value="3" disabled="1">3p - 5p</button>
</div>

<!-- Should only be visible if user clicks the "wanna be a leader" bit. -->
<div class="btn-group" id="leader-group" style="display: none;">
  <button id="leader_slot1" type="button" class="btn empty" value="4" disabled="1">9:30a - 1:30p</button>
  <button id="leader_slot2" type="button" class="btn empty" value="5" disabled="1">1:30p - 5:30p</button>
</div>

<p class="undertimetext">Sign up for as many shifts as you like. Trust us, a few hours of wishing people &#8220;Happy Nametag Day!&#8221; goes by fast!
<br><b>Please be at your shift 20 minutes early and plan to leave 20 minutes after.</b></p>

</div>
<div id="form_details" class="disabled">
  <h4><%= editing ? "Contact Details" : "We haven't met yet... what's your name?"%></h4>

  <div class="short shorter">
    <dt><%= f.label(:first_name, "First Name") %></dt>
    <dd><%= f.text_field(:first_name, :size => '60x10', :required => 'true') %></dd>
  </div>

  <div class="short shorter">
    <dt><%= f.label(:last_name, "Last Name") %></dt>
    <dd><%= f.text_field(:last_name, :size => '60x10', :required => 'true') %></dd>
  </div>

  <div class="short shorter">
    <dt><%= f.label(:email) %></dt>
    <dd><%= f.email_field(:email, :required => 'true') %></dd>
  </div>


  <div class="short shorter">
    <dt><%= f.label(:phone) %></dt>
    <dd><%= f.phone_field(:phone) %></dd>
  </div>

  <%= fields_for "friends" do |friend| %>
   
    <h4>Invite some friends!</h4>
    <% if @friends %>
      Previously invited friends:
      <ul>
        <% for friends_email in @friends %>
          <li><%= friends_email.email %></li>
                <%= friend.email_field "emails", :name => 'friends[emails][]', :value => friends_email.email %>
        <% end %>
     </ul>
    <% else %>
    <% end %>
     <p>We'll send them an email with an option to join your group and do our best to put you together on June 1st.</p>

    <span class="clearfix"></span>
    <div class="input-append">
    <span id="friends-emails">
      <% unless @friends %>
      <%= friend.email_field "emails", :name => 'friends[emails][]', :placeholder => "Friend's email" %>
      <% else %>
          <% for friends_email in @friends %>
            <%= friend.email_field "emails", :name => 'friends[emails][]', :value => friends_email.email %>
          <% end %>
      <% end %>
    </span>
    <%= link_to '+ add another', '#', :class => 'btn', :id => 'add-email' %>
    </div>
    <span class="clearfix"></span>
  <% end %>

<span class="clearfix"></span>

<%= hidden_field_tag :registration_token, params[:token] %>
<%= hidden_field_tag :location_id, '' %>
<input type="hidden" id="times" name="times" value="1" />

<%= f.submit(editing ? "Update" : "Sign me up!",
    :class => "btn btn-info btn-large",
    :style => "line-height: 52px; height: 54px; padding: 0 80px; font-size: 22px; margin-top: 4px;") %>
</div>


<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3H-4R18HiHxjI6X-Kr2CLGAwn7C679Sk&sensor=false&msid=213507925858041545730.0004d89bb157ad658e66c&ie=UTF8&ll=37.0625,-95.677068&spn=23.875,57.630033&t=m&z=8&output=embed"> 
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#add-email').click(function(){
      $('#friends-emails').append("<input id='friends_emails' name='friends[emails][]' placeholder=\"Friend's email\" size='30' type='email'>")
      return false
    });
    
  });
  
  setUpButtons();
  loadMarkers();
  google.maps.event.addDomListener(window, 'load', initializeMap);
</script> 