
  <%= error_messages_for(f.object) %>
  <div id="map-canvas" style="height: 300px; width: 500px;"></div>
  <div id="location_title">Station chosen:</div>
    
  <label class="checkbox">
    <input id="member_leader" name="member[leader]" type="checkbox"> I want to lead a nametag distribution station!
  </label>
  
  <!-- TODO: add an on-submit check that a button value is one of the times in the db -->
<div class="btn-group" id="worker-group">
  <button id="slot1" type="button" class="btn empty" value="1">11-1</button>
  <button id="slot2" type="button" class="btn empty" value="2">1-3</button>
  <button id="slot3" type="button" class="btn empty" value="3">3-5</button>
</div>

<!-- Should only be visible if user clicks the "wanna be a leader" bit. -->
<div class="btn-group" id="leader-group" style="display: none;">
  <button id="leader_slot1" type="button" class="btn empty" value="4">9-1</button>
  <button id="leader_slot2" type="button" class="btn empty" value="5">1-5</button>
</div>

  <dl>
    <dt><%= f.label(:first_name, "First Name") %></dt>
    <dd><%= f.text_field(:first_name, :size => '60x10', :required => 'true') %></dd>
  </dl>

  <dl>
    <dt><%= f.label(:last_name, "Last Name") %></dt>
    <dd><%= f.text_field(:last_name, :size => '60x10', :required => 'true') %></dd>
  </dl>

  <dl>
    <dt><%= f.label(:email) %></dt>
    <dd><%= f.email_field(:email, :required => 'true') %></dd>
  </dl>


  <dl>
    <dt><%= f.label(:phone) %></dt>
    <dd><%= f.phone_field(:phone) %></dd>
  </dl>

  <%= fields_for "friends" do |friend| %>
    <small>Add friends to your volunteer group:</small>
    <span class="clearfix"></span>
    <div id="friends-emails">
      <% unless @friends %>
      <%= friend.email_field "emails", :name => 'friends[emails][]', :placeholder => "Friend's email" %>
      <% else %>
          <% for friends_email in @friends %>
            <%= friend.email_field "emails", :name => 'friends[emails][]', :value => friends_email.email %>
          <% end %>
      <% end %>
    </div>
    <span class="clearfix"></span>
    <%= link_to 'Add Another Friend', '#', :class => 'btn', :id => 'add-email' %>
  <% end %>

<span class="clearfix"></span>

<%= hidden_field_tag :registration_token, params[:token] %>
<%= hidden_field_tag :location_id, '' %>
<input type="hidden" id="times" name="times" value="1" />

<%= f.submit "Submit Registration" %>


<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3H-4R18HiHxjI6X-Kr2CLGAwn7C679Sk&sensor=false&msid=213507925858041545730.0004d89bb157ad658e66c&ie=UTF8&ll=37.0625,-95.677068&spn=23.875,57.630033&t=m&z=8&output=embed"> 
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#add-email').click(function(){
      $('#friends-emails').append("<input id='friends_emails' name='friends[emails][]' placeholder=\"Friend's email\" size='30' type='email'>")
      return false
    });
    
  });
  
  setUpButtons();
  loadMarkers();
  google.maps.event.addDomListener(window, 'load', initializeMap);
</script>