
  <%= error_messages_for(f.object) %>

  <dl>
    <dt><%= f.label(:first_name, "First Name") %></dt>
    <dd><%= f.text_field(:first_name, :size => '60x10', :required => 'true') %></dd>
  </dl>

  <dl>
    <dt><%= f.label(:last_name, "Last Name") %></dt>
    <dd><%= f.text_field(:last_name, :size => '60x10', :required => 'true') %></dd>
  </dl>

  <dl>
    <dt><%= f.label(:email) %></dt>
    <dd><%= f.email_field(:email, :required => 'true') %></dd>
  </dl>


  <dl>
    <dt><%= f.label(:phone) %></dt>
    <dd><%= f.phone_field(:phone) %></dd>
  </dl>


  <dl>
    <dt><%= f.label(:leader, 'I want to lead a nametag distribution station') %></dt>
    <dd><%= f.check_box(:leader) %></dd>
  </dl>

  <%= fields_for "friends" do |friend| %>
    <small>Add friends to your volunteer group:</small>
    <span class="clearfix"></span>
    <div id="friends-emails">
      <% unless @friends %>
      <%= friend.email_field "emails", :name => 'friends[emails][]', :placeholder => "Friend's email" %>
      <% else %>
          <% for friends_email in @friends %>
            <%= friend.email_field "emails", :name => 'friends[emails][]', :value => friends_email.email %>
          <% end %>
      <% end %>
    </div>
    <span class="clearfix"></span>
    <%= link_to 'Add Another Friend', '#', :class => 'btn', :id => 'add-email' %>
  <% end %>


<% Location::TIMES.each do |value, text|  %>
  <ul class="checklist">
    <li class="">
      <%= check_box_tag "member[times][]", value, @member.times.include?(value.to_s), :id => "member_times_#{value}"%>
      <%= label_tag "member[times][#{value}]", text, :id => "member_times_#{value}" %>
    </li>
  </ul>
<% end %>

<span class="clearfix"></span>

<%= hidden_field_tag :registration_token, params[:token] %>

<%= f.submit "Submit Registration" %>


<script type="text/javascript">
  $(document).ready(function() {
    $('#add-email').click(function(){
      $('#friends-emails').append("<input id='friends_emails' name='friends[emails][]' placeholder=\"Friend's email\" size='30' type='email'>")
      return false
    });

    $('.checklist input').each(function() {
      if($(this).is(":checked")) {
        $(this).siblings("label").addClass('checked');
      }
      else {
       $(this).siblings("label").removeClass('checked');
      }
    });
    $('.checklist input').change(function() {
      if($(this).is(":checked")) {
        $(this).siblings("label").addClass('checked');
      }
      else {
       $(this).siblings("label").removeClass('checked');
      }
    });
  });
</script>