<h1><%= possify @member.first_name %> Registration</h1>
<% if @member.canceled? %>
  <p>Your registration is marked as <b>cancelled</b>.</p>
  <%= button_to "Reactivate Me",
                              {:controller => "/registrations",
                                :action => "reactivate_reservation" , 
                                :token => @member.reservation_token,
                              },
                                :method => :post
   %>
<% else %>
  <p>You're signed up to help out near <b><%= @member.location.name %></b> at <b><%= @member.times_as_string %></b> on June 1st.</p>
  <p> 
    <%= button_to "Cancel Registration",
                              {:controller => "/registrations",
                                :action => "cancel_reservation" , 
                                :token => @member.reservation_token,
                              },
                                :method => :delete
   %>
  </p>

<h4>Location and Time</h4>
<% if @friends %>
<p>If you change your location, you may get separated from the friends you've invited.</p>
<% end %>

<%= form_for @member, :url => 'update', :method => 'post' do |f| %>

  <%= error_messages_for(f.object) %>

  <%= render :partial => 'form', :locals => {:f => f, :editing => true} %>

<span class="clearfix"></span>

<%= hidden_field_tag :registration_token, params[:token] %>

<script type="text/javascript">
  $(document).ready(function() {

    $('#form_details').removeClass("disabled");
  });
</script>
<% end %>
￼￼￼
<% end %>