<% @page_title = "View Member: #{@member.full_name}" %>

<%= link_to('&laquo; Back to List'.html_safe, staff_members_path, :class => 'back-link') %>

<div class="members show">
  <h1><%= @member.full_name %></h1>


    <div class="clear">
      <div class="left">
        <div class="section">
          <dl>
            <dt>First Name</dt>
            <dd><%= @member.first_name %></dd>
          </dl>
          <dl>
            <dt>Last Name</dt>
            <dd><%= @member.last_name %></dd>
          </dl>
          <dl>
            <dt>Email</dt>
            <dd><%= mail_to(@member.email) %></dd>
          </dl>
          <dl>
            <dt>Times</dt>
            <dd><%= @member.times_as_string %></dd>
          </dl>
          <dl>
            <dt>Manage</dt>
            <dd>
              <%= link_to("Edit Registration",
                            :controller => "/registrations",
                            :action => "edit" , 
                            :token => @member.reservation_token)                              
              %>
              </dd>
              <dd>
              <%= button_to "Cancel Registration",
                            {:controller => "/registrations",
                              :action => "cancel_reservation" , 
                              :token => @member.reservation_token,
                            },
                              :method => :delete
              %>

            </dd>
          </dl>

        </div>
    </div>

</div>
